includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
        - vragen-ai.php
        - uninstall.php
    scanFiles:
        - stubs/constants.php
        - stubs/integrations.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
    scanDirectories:
        - vendor/woocommerce/action-scheduler
